//===========================================================================
//	FORM
//  Estilização do componente de form
//
//===========================================================================

.main-form {
  padding-top: 15px;
  div {
    &[class*='col-'] {
      position: relative;
    }
  }
  > .row {
    border-bottom: 1px solid #a3aeb4;
    .col-form-label {
      font-size: 14px;
      color: #475d69;
    }
    > .col-form-label {
      align-items: center;
      display: flex;
      font-family: $primaryFontBold;
    }
    .react-select__control {
      min-height: initial;
      height: 33px;
    }
    .input-group-text,
    .form-control,
    .form-select,
    .react-select__control {
      font-size: 14px;
      background: transparent;
      border: none;
      color: $secundary;
    }
    .react-select__control .react-select__single-value {
      font-family: $primaryFontBold;
      color: $secundary;
      font-size: 14px;
    }
  }
}

form {
  div[data-error='true'] {
    .input-group-text,
    .form-control,
    .form-select,
    .react-select__control {
      background-color: $backgroundError !important;
      outline: $borderWidthError solid $borderColorError !important;
      box-shadow: none;
    }
    + .error {
      position: absolute;
      padding: 5px 10px;
      background-color: $backgroundError;
      color: $borderColorError;
      border: 2px solid $borderColorError;
      font-size: 12px;
      top: calc(100% + 13px);
      left: 0;
      right: 0;
      margin: auto;
      z-index: 1;
      display: none;
      > i {
        font-style: normal;
        display: block;
      }
      &:after,
      &:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:after {
        border-color: rgba(251, 187, 202, 0);
        border-bottom-color: #fbbbca;
        border-width: 10px;
        margin-left: -10px;
      }
      &:before {
        border-color: rgba(237, 45, 92, 0);
        border-bottom-color: #ed2d5c;
        border-width: 13px;
        margin-left: -13px;
      }
    }
    &:hover {
      & + .error {
        display: block;
      }
    }
  }
  .form-control,
  .form-select,
  .react-select__control {
    font-family: $primaryFontBold;
    &:focus,
    &:active {
      &:not([data-error='true']) {
        box-shadow: inset -1.5px 1.5px 3px rgba(0, 0, 0, 0.2);
        color: $primary;
        outline: 1px solid #a3aeb4;
        background-color: #fff;
        font-family: $primaryFontRegular;
      }
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.5) !important;
    }
  }
}

.input-group-text {
  padding-left: 8px;
  padding-right: 8px;
  min-width: 5ch;
}
