//===========================================================================
//	MODAL
//  Estilização do componente de modal
//
//===========================================================================

.modal-content {
  border-radius: 0;
  background-color: $modalBackground;
  border: 2px #0aadb9 solid;
}
.modal-title {
  font-size: 16px;
  line-height: 16px;
  color: #e8ebed;
}
.modal-header {
  padding: 10px 20px;
  background-color: $primary;
  border: none;
}
.modal-footer {
  border: none;
  padding-top: 0;
  justify-content: space-between;
  .btn {
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
    > svg {
      margin-right: 5px;
    }
  }
  .btn-secondary {
    background-color: $primary;
    border-color: #75858e;
    color: #a3aeb4;
    &:hover {
      background-color: #475d69;
      border-color: $light;
      color: $light;
    }
  }
  .btn-primary {
    background-color: $secundary;
    border-color: $highlight;
    color: $highlight;
    &:hover {
      background-color: #138698;
      border-color: #ffffff;
      color: #ffffff;
    }
  }
}
.modal-body {
  padding: 15px 20px;
  .msg {
    color: $light;
    font-size: 16px;
    word-break: break-all;
    > p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  label {
    color: $light;
  }
  > .row {
    > div {
      position: relative;
    }
  }
}

//centralizando modal
.modal {
  &.show {
    display: flex !important;
    align-items: center;
  }
}
