//===========================================================================
//	BASE/ELEMENTS
//
//		Essa camada serve para estilizarmos a parte mais básica dos
//		componentes. Nada de IDs nem classes aqui, apenas seletores de
//		elementos.
//
//			- Aqui definimos a aparência de <a>, <blockquote>, <ul>,
//			<h1> e todos os outros elementos HTML desejados.
//
//			- lembre-se são estilizações BÁSICAS, nada de estilizar
//			tudo aqui!
//
//			- aqui ficarão estilos para os headings h1-h6, blockquotes,
//			a, buttons, etc;
//===========================================================================

a {
  text-decoration: none;
  color: $primary;
  outline: none;
}

html {
  height: 100%;
  position: relative;
}

body {
  height: 100%;
  background: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
  * {
    font-family: $primaryFontRegular;
  }
  > div {
    position: relative;
    height: 100%;
    display: flex;
  }
}
label {
  margin: 0;
  &[for] {
    cursor: pointer;
  }
}
